#container3{
    box-sizing: border-box;
    padding-top: 4.5rem !important;
    overflow: hidden;
    color: white;
}

#image3
{
    width: 10px;
    height: 10px;
    scale: 34%;
    justify-content: center;
    position: relative;
    left: 15%;
    top: 1%;
    z-index: 1;
}

#title
{
    position: relative;
    left: 22%;
    top: 11%;
    font-size: 70px;
    z-index: 2;
    line-height: 1.1em;
    font-family: 'Hanuman', serif;
}

#text
{
    position: relative;
    align-items: end;
    left: 40%;
    top: -7%;
    font-size: 20px;
    width: 40vw;
    font-family: 'Hanuman', serif;
    z-index: 1;
}

#author
{
    position: relative;
    left: 71%;
    top: -28%;
    z-index: 1;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

#kutip
{
    position: relative;
    left: 69%;
    top: 20%;
    font-size: 70px;
    font-family: 'Dancing Script', cursive;
    z-index: 1;
}

#rectangle
{
    background-color: #fff;
    width: 150px;
    height: 450px;
    position: relative;
    left: 19%;
    top: -50%;
    opacity: 40%;
    z-index: 1;
}

#rectangle1
{
    background-color: #BA9616;
    width: 100px;
    height: 350px;
    position: relative;
    left: 25%;
    top: -75%;
    opacity: 40%;
    z-index: 1;
}

#rectangle2
{
    background-color: #fff;
    width: 500px;
    height: 40px;
    position: relative;
    left: 70%;
    top: -119%;
    opacity: 30%;
    z-index: 1;
}

#line
{
    background-color: #fff;
    width: 500px;
    height: 4px;
    position: relative;
    left: 58%;
    top: -105%;
    z-index: 1;
}

#dot
{
    background-color: #fff;
    width: 12px;
    height: 12px;
    position: relative;
    left: 57.5%;
    top: -105.8%;
    z-index: 1;
}
