@tailwind base;
@tailwind components;
@tailwind utilities;
/*tambahin di setiap css*/
body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #100C08;
}

/*About Us*/
#about-us{
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#image-track img {
    width: 35vmin;
    height: 54vmin;
    object-fit: cover;
    object-position: center;
}

#image-track {
    display: flex;
    gap :4vmin;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
}

.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/*TIPO3*/
#container3
{
    color: #fff;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

#image3
{
    width: 10px;
    height: 10px;
    scale: 34%;
    justify-content: center;
    position: relative;
    left: 15%;
    top: 1%;
    z-index: -1;
}

#title
{
    position: relative;
    left: 25%;
    top: 30%;
    font-size: 60px;
    z-index: 1;
}

#text
{
    position: relative;
    align-items: end;
    left: 50%;
    top: 18%;
    font-size: 30px;
}

#author
{
    position: relative;
    left: 70%;
    top: 3%;
    z-index: 1;
}

/* ravin */
#ravin{
    width: 100vw;
    height: 100vh;
    background-color:black;
    color: white;
}

