@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Hanuman:wght@100;400&family=Satisfy&display=swap');
/*tambahin di setiap css*/
body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #100C08;
}

/*About Us*/
#about-us{
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#image-track img {
    width: 35vmin;
    height: 54vmin;
    object-fit: cover;
    object-position: center;
}

#image-track {
    display: flex;
    gap :4vmin;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
}

.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/*TIPO3*/
#container3
{
    color: #fff;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#image3
{
    width: 10px;
    height: 10px;
    scale: 34%;
    justify-content: center;
    position: relative;
    left: 15%;
    top: 1%;
    z-index: -1;
}

#title
{
    position: relative;
    left: 22%;
    top: 9%;
    font-size: 70px;
    z-index: 1;
    font-family: 'Hanuman', serif;
}

#text
{
    position: relative;
    align-items: end;
    left: 40%;
    top: -11%;
    font-size: 20px;
    font-family: 'Hanuman', serif;
}

#author
{
    position: relative;
    left: 71%;
    top: -25%;
    z-index: 1;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

#kutip
{
    position: relative;
    left: 69%;
    top: 22%;
    font-size: 70px;
    font-family: 'Dancing Script', cursive;
}

#rectangle
{
    background-color: #fff;
    width: 150px;
    height: 450px;
    position: relative;
    left: 19%;
    top: -50%;
    opacity: 40%;
}

#rectangle1
{
    background-color: #BA9616;
    width: 100px;
    height: 350px;
    position: relative;
    left: 25%;
    top: -75%;
    opacity: 40%;
}

#rectangle2
{
    background-color: #fff;
    width: 500px;
    height: 40px;
    position: relative;
    left: 70%;
    top: -119%;
    opacity: 40%;
}

#line
{
    background-color: #fff;
    width: 500px;
    height: 4px;
    position: relative;
    left: 58%;
    top: -101%;
}

#dot
{
    background-color: #fff;
    width: 12px;
    height: 12px;
    position: relative;
    left: 57.5%;
    top: -101.8%;
}



/* ravin */
#ravin{
    width: 100vw;
    height: 100vh;
    background-color:black;
    color: white;
}
#judul{
    position: relative;
    font-family: 'Qwigley', serif;
    font-size: 70px;
}
#tulisan{
    position: relative;
    font-family: 'Hanuman', cursive;
    font-size: 20px;
}
#tahun{
    position: relative;
    font-family: 'Hanuman' , cursive;
    font-size: 20px;
}
#hands{
    position: relative;
    scale: 45%;
    top: -185%;
}
#gariskotak{
    background-color: white;
    border-color: white;
    width: 165px;
    height: 873px;
    position: relative;
}
#lingkaran{
    position: relative;
    background-color: white;
    width: 300px;
    height: 300px;
    position: relative;
    opacity: 40%;
    border-radius: 50%;
}
#garisatas{
    background-color: white;
    width: 495px;
    height: 5px;
    position: relative;
}
#gariskecil{
    background-color: white;
    width: 495px;
    height: 5px;
    position: relative;
}
#kotak1{
    background-color: white;
    width: 68px;
    height: 350px;
    position: relative;
    opacity: 40%;
}