#image-track img {
    width: 35vmin;
    height: 54vmin;
    object-fit: cover;
    object-position: center;
}

#image-track {
    display: flex;
    gap :4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
}

.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}