/* Calista Awal */
#cardTipoc {
    position: relative;
    background-color: rgb(122, 117, 7);
    font-family: hanuman;
}

/*tulisantipoc awal */

#tulisantipoc {
    position: absolute;
    top: 25vw;
    left: 33vw;
}

#headingTipoc {
    font-size: 92px;
    position: absolute;
    width: 60vw;
    top: 12vw;
    left: 17vw;
    color: white;
    z-index: 9999;
}

#textTipoc {
    font-size: 29px;
    position: absolute;
    color: white;
    width: 52vw;
    z-index: 9999;
}

#linecaltipoc {
    position: absolute;
    background-color: #D9D9D9;
    width: 61.5vw;
    height: 10vh;
    opacity: 50%;
    top: 15vw;
    left: -14vw;
    z-index: 999;
}

/*tulisantipoc akhir */

#caltipocimage1 {
    position: absolute;
    top: 3vw;
    left: 65vw;
    width: fit-content; 
}

#caltipocimg1 {
    width: 22vw;
    height: 60vh;
}

#caltipocimage2{
    position: absolute;
    top: 0;
    left: 10vw;
    width: fit-content; 
}

#caltipocimg2{
    width: 20vw;
    height: 100vh;
}

#line123 {
    position: absolute;
    left: 55vw;
    top: 14vw;
}

.line1 {
    background: white;
    position: absolute;
    height: 0.2vh;
    top: 5vw;
    width: 18.1vw;
}

.line2 {
    background: white;
    position: absolute;
    height: 19vw;
    width: 0.1vw;
    top: -14vw;
}

.line3 {
    background: white;
    position: absolute;
    height: 19vw;
    width: 0.1vw;
    left: 18vw;
    top: -14vw;
}

#line45 {
    position: absolute;
    top: 18vw;
    left: 30vw;
}

.line4 {
    background: #CAA930;
    position: absolute;
    height: 0.2vh;
    width: 10vw;
}

.line5 {
    background: #CAA930;
    position: absolute;
    height: 33vw;
    width: 0.1vw;
    left: 10vw;
}

#allDot {
    position: absolute;
    width: 5vw;
    height: 15vh;
    top: 8vw;
    left: 53vw;
}

.dot1 {
    width: 1vw;
    height: 2vh;
    background-color: #CAA930;
    border-radius: 50%;
    position: absolute;
}

.dot2 {
    width: 1vw;
    height: 2vh;
    background-color: #CAA930;
    border-radius: 50%;
    position: absolute;
    top: 2vw;
}

.dot3 {
    width: 1vw;
    height: 2vh;
    background-color: #CAA930;
    border-radius: 50%;
    position: absolute;
    top: 4vw;
}

#cardCredita {
    position: relative;
    background-color: rgb(122, 117, 7);
    font-family: hanuman;
}

#image3Credita {
    position: absolute;
    width: fit-content; 
    top: 12vw;
    left: 10vw;
}

#img3Credita {
    width: 22vw;
    height: 60vh;
}

#Museum {
    position: absolute;
    font-size: 3em;
    color: white;
    width: 80vw;
    left: 45vw;
    top: 5vw;
}

#museum1 {
    position: absolute;
    top: 7vw;
}

#museum2 {
    position: absolute;
    top: 17vw;
}

#museum3 {
    position: absolute;
    top: 26vw;
}

#TextMuseum {
    position: absolute;
    font-size: 1.2em;
    color: white;
    width: 37vw;
    left: 45vw;
    top: 1vw;
    z-index: 9999;
}

#textMuseum1 {
    position: absolute;
    top: 14vw;
    z-index: 9999;
}

#textMuseum2 {
    position: absolute;
    top: 24vw;
    z-index: 9999;
}

#textMuseum3 {
    position: absolute;
    top: 33vw;
    z-index: 9999;
}

#lineMuseum123 {
    width: 80vw;
    height: 40vh;
    position: absolute;
    left: 45vw;
    top: 21.8vw;
}

.lineMuseum1 {
    background: white;
    height: 0.2vh;
    width: 35vw;
    position: absolute;
    top: -0.1vw;
}

.lineMuseum2 {
    background: white;
    height: 0.2vh;
    width: 35vw;
    position: absolute;
    top: 8.9vw;
}

.lineMuseum3 {
    background: white;
    height: 0.2vh;
    width: 35vw;
    position: absolute;
    top: 18.9vw;
}

#lineMuseum4567 {
    width: 80vw;
    height: 40vh;
    position: absolute;
    left: 16vw;
    top: 14vw;
    z-index: 9999;
}

.lineMuseum4 {
    background: white;
    height: 0.1vw;
    width: 17.4vw;
}

.lineMuseum5 {
    background: white;
    height: 0.1vw;
    width: 17.4vw;
    margin-top: 26.5vw;
}

.lineMuseum6 {
    background: white;
    height: 52.5vh;
    width: 0.1vw;
    margin-top: -26.6vw;
}

.lineMuseum7 {
    background: white;
    height: 52.8vh;
    width: 0.1vw;
    margin-top: -26.6vw;
    margin-left: 17.4vw;
} 

/* Calista Akhir */