/* Calista Awal */
#cardTipoc {
    position: relative;
    /* background-color: rgb(122, 117, 7); */
    font-family: hanuman;
}

/*tulisantipoc awal */

#tulisantipoc {
    position: absolute;
    top: 25vw;
    left: 33vw;
}

#headingTipoc {
    font-size: 92px;
    position: absolute;
    width: 60vw;
    top: 12vw;
    left: 17vw;
    color: white;
    z-index: 9999;
    animation: 3s slideRightHeadingTipoc;
    animation-delay: 2s;
}

@keyframes slideRightHeadingTipoc {
    from {
        left: -100%;
    }
    to {
        left: 100%;
    }
}

#textTipoc {
    font-size: 29px;
    position: absolute;
    color: white;
    width: 52vw;
    z-index: 9999;
}

#linecaltipoc {
    position: absolute;
    background-color: #D9D9D9;
    width: 61.5vw;
    height: 10vh;
    opacity: 50%;
    top: 15vw;
    left: -14vw;
    z-index: 999;
}

/*tulisantipoc akhir */

#caltipocimage1 {
    position: absolute;
    top: 3vw;
    left: 65vw;
    width: fit-content; 
}

#caltipocimg1 {
    width: 22vw;
    height: 60vh;
}

#caltipocimage2{
    position: absolute;
    top: 0;
    left: 10vw;
    width: fit-content; 
}

#caltipocimg2{
    width: 20vw;
    height: 100vh;
}

#line123 {
    position: absolute;
    left: 55vw;
    top: 14vw;
}

.line1 {
    background: white;
    position: absolute;
    height: 0.3vh;
    top: 5vw;
    width: 18.2vw;
}

.line2 {
    background: white;
    position: absolute;
    height: 19vw;
    width: 0.2vw;
    top: -14vw;
}

.line3 {
    background: white;
    position: absolute;
    height: 19vw;
    width: 0.2vw;
    left: 18vw;
    top: -14vw;
}

#line45 {
    position: absolute;
    top: 18vw;
    left: 30vw;
}

.line4 {
    background: #CAA930;
    position: absolute;
    height: 0.5vh;
    width: 10vw;
}

.line5 {
    background: #CAA930;
    position: absolute;
    height: 37vw;
    width: 0.2vw;
    left: 10vw;
}

#allDot {
    position: absolute;
    width: 5vw;
    height: 15vh;
    top: 8vw;
    left: 53vw;
}

.dot1 {
    width: 1vw;
    height: 2vh;
    background-color: #CAA930;
    border-radius: 50%;
    position: absolute;
}

.dot2 {
    width: 1vw;
    height: 2vh;
    background-color: #CAA930;
    border-radius: 50%;
    position: absolute;
    top: 2vw;
}

.dot3 {
    width: 1vw;
    height: 2vh;
    background-color: #CAA930;
    border-radius: 50%;
    position: absolute;
    top: 4vw;
}

#cardCredita {
    position: relative;
    /* background-color: rgb(122, 117, 7); */
    font-family: hanuman;
}

#JamBerjalan {
    position: fixed;
    margin: auto;
    left: 5vw;
}

#backgroundImageCredita {
    opacity: 30%;
}

/* #slideImageCredita {
    z-index: 9999 !important;
    top: 10vw !important;
    left: 10vw !important;
    width: 100% !important;
    height: 100% !important;
} */

#slideShowImageCredita {
    top: 12vw;
    left: 10vw;  
    width: 22vw;
    height: 60vh;
}

#image3Credita {
    position: absolute;
    width: fit-content; 
    top: 12vw;
    left: 10vw;
    overflow: hidden;
    display: flex;
}

#img3Credita {
    width: 22vw;
    height: 60vh;
}

#InfoLokasiUMN {
    width: 50vw;
    height: 8vh;
    cursor: pointer;
}

#InfoLokasiMuseumMacan {
    width: 10vw;
    height: 8vh;
    cursor: pointer;
}

#InfoLokasiMuseumSarinah {
    width: 10vw;
    height: 8vh;
    cursor: pointer;
}

#InfoLokasiMuseumKatedral {
    width: 10vw;
    height: 8vh;
    cursor: pointer;
}

#InfoMuseumMacan {
    background-color: red;
    width: 37vw;
    cursor: pointer;
}

#InfoMuseumSarinah {
    background-color: red;
    width: 37vw;
    cursor: pointer;
}

#InfoMuseumKatedral {
    background-color: red;
    width: 37vw;
    cursor: pointer;
}

#APIUMN {
    width: 32vw;
    height: 3vh;
    font-size: 1.8rem;
    color: #CAA930;
    position: absolute;
    top: 6vw;
    left: 13w;
}

#APIMUSEUMMACAN {
    width: 42vw;
    height: 3vh;
    font-size: 1.4rem;
    color: #CAA930;
    position: absolute;
    top: 2.8vw;
    left: 13w;
}

#APIMUSEUMSARINAH {
    width: 42vw;
    height: 3vh;
    font-size: 1.4rem;
    color: #CAA930;
    position: absolute;
    top: 2.8vw;
    left: 13w;
}

#APIMUSEUMKATEDRAL {
    width: 52vw;
    height: 3vh;
    font-size: 1.4rem;
    color: #CAA930;
    position: absolute;
    top: 2.8vw;
    left: 13w;
}

#APIINFOMUSEUMMACAN {
    width: 42vw;
    height: 3vh;
    font-size: 1.4rem;
    color: #CAA930;
    position: absolute;
    top: 2.8vw;
    left: 13w;
}

#APIINFOMUSEUMSARINAH {
    width: 42vw;
    height: 3vh;
    font-size: 1.4rem;
    color: #CAA930;
    position: absolute;
    top: 2.8vw;
    left: 13w;
}

#APIINFOMUSEUMKATEDRAL {
    width: 42vw;
    height: 3vh;
    font-size: 1.4rem;
    color: #CAA930;
    position: absolute;
    top: 2.8vw;
    left: 13w;
}

#Museum {
    position: absolute;
    font-size: 4.3em;
    width: 25vw;
    height: 70vh;
    left: 45vw;
    top: 5vw;
}

.museum1 {
    position: absolute;
    top: 7vw;
    color: white;
}

.museum2 {
    position: absolute;
    top: 17vw;
    color: white;
}

.museum3 {
    position: absolute;
    top: 26vw;
    color: white;
}

#museum4 {
    position: absolute;
    top: 7vw;
    left: 11vw;
    color: #CAA930;
    cursor: pointer;
}

#museum5 {
    position: absolute;
    top: 17vw;
    left: 11vw;
    color: #CAA930;
    cursor: pointer;
}

#museum6 {
    position: absolute;
    top: 26vw;
    left: 11vw;
    color: #CAA930;
    cursor: pointer;
}

#TextMuseum {
    position: absolute;
    font-size: 1.7em;
    color: white;
    width: 37vw;
    left: 45vw;
    top: 1vw;
    z-index: 9999;
}

.textMuseum1 {
    position: absolute;
    top: 16vw;
    z-index: 9999;
}

.textMuseum2 {
    position: absolute;
    top: 26vw;
    z-index: 9999;
}

.textMuseum3 {
    position: absolute;
    top: 35vw;
    z-index: 9999;
}

/* #lineMuseum123 {
    width: 80vw;
    height: 40vh;
    position: absolute;
    left: 45vw;
    top: 21.8vw;
} */

.lineMuseum1 {
    background: white;
    height: 0.3vh;
    width: 35vw;
    position: absolute;
    top: 21.5vw;
    left: 45vw;
}

.lineMuseum2 {
    background: white;
    height: 0.3vh;
    width: 35vw;
    position: absolute;
    top: 30.5vw;
    left: 45vw;
}

.lineMuseum3 {
    background: white;
    height: 0.3vh;
    width: 35vw;
    position: absolute;
    top: 41vw;
    left: 45vw;
}

#lineMuseum4567 {
    width: 22vw;
    height: 60vh;
    position: absolute;
    left: 12vw;
    top: 14vw;
}

/*ini garis vertikal kiri*/
.lineMuseum4 {
    background: white;
    width: 0.2vw;
    height: 57.7vh;
    /* top: 14vw;
    left: 12vw; */
    position: absolute;
}
/*ini garis vertikal kanan*/
.lineMuseum5 {
    background: white;
    position: absolute;
    /* top: 14vw;
    left: 100vw; */
    width: 0.2vw;
    height: 57.7vh;
    left: 22vw;
}
/*ini garis horizontal atas*/
.lineMuseum6 {
    background: white;
    position: absolute;
    /* top: 14vw;
    left: 12vw; */
    width: 22vw;
    height: 0.3vh;
}
/*ini garis horizontal bawah*/
.lineMuseum7 {
    background: white;
    position: absolute;
    /* top: 55vw;
    left: 12vw; */
    width: 22.2vw;
    height: 0.3vh;
    top: 30.2vw;
} 

#katedral {
    background-color: #fff;
    width: 22vw;
    height: 60vh;
    position: absolute;
    top: 12vw;
    left: 10vw;
    display: flex;
    /* overflow: hidden; */
    transition: transform 0.5s ease;
    /* display: none; */
}

#buttonLeft {
    position: absolute;
    top: 40vw;
    left: 19vw;
    font-weight: 800;
    background-color: #ccc;
    border-radius: 50%;
    width: 1.5vw;
    height: 3vh;
    cursor: pointer;
    z-index: 9999;
}

#buttonRight {
    position: absolute;
    top: 40vw;
    left: 22vw;
    font-weight: 800;
    background-color: #ccc;
    border-radius: 50%;
    width: 1.5vw;
    height: 3vh;
    cursor: pointer;
    z-index: 9999;
}

@keyframes autoplay {
    0% {left: 100%}
    4% {left: 0%}
    33.33% {left: 0%}
    37.33% {left: -100%}
    100% {left: -100%}
}

#imgkatedral1 {
    position: absolute;
    /* animation: 16s autoplay infinite linear; */
    animation-delay: 0s;
    width: 100%;
    height: 100%;
}

#imgkatedral2 {
    position: absolute;
    /* animation: 16s autoplay infinite linear; */
    animation-delay: 4s;
    width: 100%;
    height: 100%;
}

#imgkatedral3 {
    position: absolute;
    /* animation: 16s autoplay infinite linear; */
    animation-delay: 8s;
    width: 100%;
    height: 100%;
}

#imgkatedral4 {
    position: absolute;
    /* animation: 16s autoplay infinite linear; */
    animation-delay: 12s;
    width: 100%;
    height: 100%;
}

/* Calista Akhir */