/* Calista Awal */
#cardTipoc {
    position: relative;
    /* background-color: rgb(122, 117, 7); */
    font-family: hanuman;
}

/*tulisantipoc awal */

#tulisantipoc {
    position: absolute;
    top: 25vw;
    left: 33vw;
}

#headingTipoc {
    font-size: 92px;
    position: absolute;
    width: 60vw;
    top: 12vw;
    left: 17vw;
    color: white;
    z-index: 9999;
    animation: 3s slideRightHeadingTipoc;
    animation-delay: 2s;
}

@keyframes slideRightHeadingTipoc {
    from {
        left: -100%;
    }
    to {
        left: 100%;
    }
}

#textTipoc {
    font-size: 29px;
    position: absolute;
    color: white;
    width: 52vw;
    z-index: 9999;
}

#linecaltipoc {
    position: absolute;
    background-color: #D9D9D9;
    width: 61.5vw;
    height: 10vh;
    opacity: 50%;
    top: 15vw;
    left: -14vw;
    z-index: 999;
}

/*tulisantipoc akhir */

#caltipocimage1 {
    position: absolute;
    top: 3vw;
    left: 65vw;
    width: fit-content; 
}

#caltipocimg1 {
    width: 22vw;
    height: 60vh;
}

#caltipocimage2{
    position: absolute;
    top: 0;
    left: 10vw;
    width: fit-content; 
}

#caltipocimg2{
    width: 20vw;
    height: 100vh;
}

#line123 {
    position: absolute;
    left: 55vw;
    top: 14vw;
}

.line1 {
    background: white;
    position: absolute;
    height: 0.3vh;
    top: 5vw;
    width: 18.2vw;
}

.line2 {
    background: white;
    position: absolute;
    height: 19vw;
    width: 0.2vw;
    top: -14vw;
}

.line3 {
    background: white;
    position: absolute;
    height: 19vw;
    width: 0.2vw;
    left: 18vw;
    top: -14vw;
}

#line45 {
    position: absolute;
    top: 18vw;
    left: 30vw;
}

.line4 {
    background: #CAA930;
    position: absolute;
    height: 0.5vh;
    width: 10vw;
}

.line5 {
    background: #CAA930;
    position: absolute;
    height: 37vw;
    width: 0.2vw;
    left: 10vw;
}

#allDot {
    position: absolute;
    width: 5vw;
    height: 15vh;
    top: 8vw;
    left: 53vw;
}

.dot1 {
    width: 1vw;
    height: 2vh;
    background-color: #CAA930;
    border-radius: 50%;
    position: absolute;
}

.dot2 {
    width: 1vw;
    height: 2vh;
    background-color: #CAA930;
    border-radius: 50%;
    position: absolute;
    top: 2vw;
}

.dot3 {
    width: 1vw;
    height: 2vh;
    background-color: #CAA930;
    border-radius: 50%;
    position: absolute;
    top: 4vw;
}

#cardCredita {
    position: relative;
    /* background-color: rgb(122, 117, 7); */
    font-family: hanuman;
}

#image3Credita {
    position: absolute;
    width: fit-content; 
    top: 12vw;
    left: 10vw;
}

#img3Credita {
    width: 22vw;
    height: 60vh;
}

#Museum {
    position: absolute;
    font-size: 3em;
    width: 25vw;
    height: 70vh;
    left: 45vw;
    top: 5vw;
}

#museum1 {
    position: absolute;
    top: 7vw;
    color: white;
}

#museum2 {
    position: absolute;
    top: 17vw;
    color: white;
}

#museum3 {
    position: absolute;
    top: 26vw;
    color: white;
}

#museum4 {
    position: absolute;
    top: 7vw;
    left: 11vw;
    color: #CAA930;
}

#museum5 {
    position: absolute;
    top: 17vw;
    left: 11vw;
    color: #CAA930;
}

#museum6 {
    position: absolute;
    top: 26vw;
    left: 11vw;
    color: #CAA930;
    /* display: none; */
}

#TextMuseum {
    position: absolute;
    font-size: 1.2em;
    color: white;
    width: 37vw;
    left: 45vw;
    top: 1vw;
    z-index: 9999;
}

#textMuseum1 {
    position: absolute;
    top: 15vw;
    z-index: 9999;
}

#textMuseum2 {
    position: absolute;
    top: 25vw;
    z-index: 9999;
}

#textMuseum3 {
    position: absolute;
    top: 34vw;
    z-index: 9999;
}

/* #lineMuseum123 {
    width: 80vw;
    height: 40vh;
    position: absolute;
    left: 45vw;
    top: 21.8vw;
} */

.lineMuseum1 {
    background: white;
    height: 0.3vh;
    width: 35vw;
    position: absolute;
    top: 21vw;
    left: 45vw;
}

.lineMuseum2 {
    background: white;
    height: 0.3vh;
    width: 35vw;
    position: absolute;
    top: 31vw;
    left: 45vw;
}

.lineMuseum3 {
    background: white;
    height: 0.3vh;
    width: 35vw;
    position: absolute;
    top: 41vw;
    left: 45vw;
}

#lineMuseum4567 {
    width: 22vw;
    height: 60vh;
    position: absolute;
    left: 12vw;
    top: 14vw;
}

.lineMuseum4 {
    background: white;
    width: 0.2vw;
    height: 60vh;
    position: absolute;
}

.lineMuseum5 {
    background: white;
    position: absolute;
    width: 0.2vw;
    height: 60vh;
    left: 21vw;
}

.lineMuseum6 {
    background: white;
    position: absolute;
    width: 21.2vw;
    height: 0.3vh;
}

.lineMuseum7 {
    background: white;
    position: absolute;
    width: 21.2vw;
    height: 0.3vh;
    top: 30.2vw;
} 

#katedral {
    background-color: #fff;
    width: 22vw;
    height: 60vh;
    position: absolute;
    top: 12vw;
    left: 10vw;
    display: flex;
    overflow: hidden;

    /* display: none; */
}

@keyframes autoplay {
    0% {left: 100%}
    4% {left: 0%}
    33.33% {left: 0%}
    37.33% {left: -100%}
    100% {left: -100%}
}

#imgkatedral1 {
    position: absolute;
    animation: 16s autoplay infinite linear;
    animation-delay: 0s;
    width: 100%;
    height: 100%;
}

#imgkatedral2 {
    position: absolute;
    animation: 16s autoplay infinite linear;
    animation-delay: 4s;
    width: 100%;
    height: 100%;
}

#imgkatedral3 {
    position: absolute;
    animation: 16s autoplay infinite linear;
    animation-delay: 8s;
    width: 100%;
    height: 100%;
}

#imgkatedral4 {
    position: absolute;
    animation: 16s autoplay infinite linear;
    animation-delay: 12s;
    width: 100%;
    height: 100%;
}

/* Calista Akhir */